<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="chartHttpBind">
        </binding>
        <binding name="chartHttpsBind">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="chartBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Scada.Web.Plugins.ChartPro.ChartSvc">
        <endpoint address="" behaviorConfiguration="chartBehavior"
            binding="webHttpBinding" bindingConfiguration="chartHttpBind" contract="Scada.Web.Plugins.ChartPro.ChartSvc" />
        <!-- Uncomment the block below to allow HTTPS connection -->
        <!--<endpoint address="" behaviorConfiguration="chartBehavior"
            binding="webHttpBinding" bindingConfiguration="chartHttpsBind" contract="Scada.Web.Plugins.ChartPro.ChartSvc" />-->
      </service>
    </services>
  </system.serviceModel>
</configuration>
